.products__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color:#000;
    text-align: left;
    padding-top: 64px;
    margin-bottom: 40px;
}



.products__btn {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 64px;
}

@media screen  and (min-width:768px){
    .products__thumb {
        
        display: flex;
        gap: 32px;
    }
    
    .products__btn {
        width: 165px;
        margin-left: 50%;
    }

    .products__list li {
        width: 162px;
    }
}

@media screen  and (min-width:1440px){
    .products__btn {
        width: 165px;
        margin-left: 20%;
    }

    .products__list li {
        width: 304px;
    }
}