.cart__item {
    display: flex;
    align-items: center;
    text-align: left;
}

.cart__img {
    border-radius: 16px;
    width: 82px;
    height: 101px;
    margin-right: 24px;
}

.cart__info {
    width: 173px;
}

.star__thumb {
    display: flex;
}

.star {
    width: 12px;
    height: 12px;
}

.cart__thumb {
    margin-bottom: 40px;
}

.cart__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.isHidden {
    display: none;
}

.cart__amount {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #000;
}

.cart__btn {
    border: none;
    background-color:  rgba(0, 0, 0, 0.036);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.cart__btn:hover,
.cart__btn:focus {
    border: 1px solid rgba(0, 0, 0, 0.478);
    background-color:  rgba(0, 0, 0, 0.232);
}
.cart__space {
    display: flex;
}
.cart__trash {
    width: 18px;
    height: 20px;
}
.cart__priceDesktop {
    display: none;
}

@media screen and (min-width:768px) {
    .cart__item {
        justify-content: space-between;
    }
    
    .cart__info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
    }
    
    .star__thumb {
        display: none;
    }
    
    
    .cart__thumb {
        margin-bottom: 0;
    }
    
    
    .isHidden {
        display: flex;
    }
    

    .cart__desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .cart__price {
        display: none;
    }
    .cart__priceDesktop {
        display: block;
    }
}

@media screen and (min-width:1440px) {
    .cart__text {
        font-size: 18px;
    }
}
