.input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 8px;
    
    height: 40px;
}

.input:hover,
.input:focus {
    outline: none;
}

.input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
}