.stars {
    display: flex;
    justify-content: start;
    align-items: center;
}
.star {
    width: 24px;
    height: 24px;
}

@media screen and (min-width:768px) {
    .star {
        width: 14px;
        height: 14px;
    }
}
