.products__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    padding: 0;
}

.second__class {
    width: 335px;
}



.hideOnMobile {
    display: none;
}

.hideOnTablet {
    display: block;
}



@media screen and (min-width: 768px) {
    .products__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    
    .products__item {
        flex-basis: calc((100% - 32px) / 2);
        box-sizing: border-box; 
        width: 202px;
    }
    
    .hideOnTablet {
        display: none;
    }
    .hideOnMobile {
        display: block;
    }
    .second__class {
        width: 300px;
    }
}


@media screen and (min-width: 1440px) {
    .products__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    .second__class {
        width: 304px;
    }
    
    .products__item {
        flex-basis: calc((100% - 96px) / 4);
        width: 304px;
    }
}