.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form__thumb {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width:768px){
    .form__thumb {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
    .form__input {
        width: 304px;
    }
}

@media screen and (min-width:1440px) {
    .form__input {
        width: 336px;
    }
}
