.categories > div {
    position: relative;
}

.category__thumb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;
    position: relative;
}

.category__title {
    padding-top: 48px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    text-align: left;
}

.category__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    padding: 6px 12px;
    width: 165px;
    height: 33px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.category__left {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.category__right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.category__left:disabled,
.category__right:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.category__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 48px;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.isHidden {
    display: none;
}

.isHidden__Desktop {
    display: none;
}

.pagination {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    color: #666;
}

@media screen and (min-width: 768px) {
    .category__thumb {
        justify-content: start;
    }
    
    .category__btn {
        position: absolute;
        top: 68px;
        right: 0;
    }
    
    .category__list {
        gap: 32px;
    }
    
    .isHidden {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
    .category__title {
        padding-top: 48px;
        font-weight: 700;
    }
    
    .category__btn {
        font-size: 16px;
    }
    
    .isHidden__Desktop {
        display: block;
    }
}