.isHidden {
    display: none;
}

.isHidden__Desktop {
    display: none;
}

.categories > div {
    position: relative;
}

.category__thumb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;
    position: relative;
}


.category__title {
    padding-top: 48px;

    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    text-align: left;
}

.category__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    padding: 6px 12px;
    width: 165px;
    height: 33px;
    font-weight: 600;
    text-align: center;
}

.category__left {
    position: absolute;
    top: 50%;
    right: 0;
}

.category__right {
    position: absolute;
    top: 50%;
    left: 0;
}

.category__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.pagination {
    display: none;
}
@media screen and (min-width: 768px) {
    .isHidden {
        display: flex;
    }
    
    .categories > div {
        position: relative;
    }
    
    .category__thumb {
        justify-content: start;
    }
    
    
    .category__btn {
        position: absolute;
        top: 68px;
        right: 0;
    }
    
    
    .category__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 48px;
        gap: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .isHidden__Desktop {
        display: flex;
    }
    .category__title {
        padding-top: 48px;
        font-weight: 700;
    }
    
    .category__btn {
        font-size: 16px;
    }
}
