.categories > div {
    position: relative;
}

.category__thumb {
    display: flex;
    margin-bottom: 40px;
    position: relative;
}


.category__title {
    padding-top: 48px;

    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
}

.category__btn {
    position: absolute;
    top: 68px;
    right: 2%;
}

.category__left {
    position: absolute;
    top: 50%;
    right: 0;
}

.category__right {
    position: absolute;
    top: 50%;
    left: 0;
}

.category__list {
    display: flex;
    gap: 32px;
    padding-bottom: 48px;
}

.pagination {
    display: none;
}