
.categories__title {
    text-align: left;
    margin-bottom:40px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
}
.categories__list {
    display: flex;
    gap: 32px;
    flex-direction: column;

}

.isHidden {
    display: none;
}

.categories__btn {
    margin-top: 40px;
    margin-bottom:64px;
}

@media screen and (min-width:768px) {
    .categories__title {
        padding-top: 64px;
    }
    .categories__list {
        flex-wrap: wrap;
        flex-direction: row; 
    }

    .categories__item {
        width: 336px;
        flex-basis: calc((100% - 32px) / 2);
        box-sizing: border-box; 
    }
}

@media screen and (min-width:1440px) {
    .isHidden {
        display: flex;
    }
    .categories__list {
        flex-wrap: wrap;
        flex-direction: row; 
    }
    .isHidden {
        display: flex;
    }

    .categories__item {
        width: 416px;
        flex-basis: calc((100% - 90px) / 3);
        box-sizing: border-box; 
    }
}