.category__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.category__img {
    width: 335px;
    height: 223px;
    margin-bottom: 16px;
}

.category__item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #000;
}

.category__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

/* @media screen and (min-width: 768px) {
    .category__img {
        margin-bottom: 16px;
    }
    
} */

@media screen and (min-width: 1440px) {
    .category__img {
        margin-bottom: 16px;
        width: 416px;
    height: 277px;
    }
    
}