.form__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    text-align: left;
}

.form__input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 8px;
    background-color: transparent;
}

.form__input:hover,
.form__input:focus{
    outline: none;
}

.form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
}