.reasons {
    text-align: left;
}

.reasons__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 40px;
    padding-top: 48px;
}

.reasons__list {
    display: flex;
    gap: 32px;
    padding-bottom: 48px;

}

.reasons__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 416px;
}

.reasons__img {
    width: 45px;
    height: 45px;
}

.reasons__item__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #000;
}

.reasons__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}