.products__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

.products__item > div {
    display: flex;
    justify-content: start;
}

.products__img {
    margin-bottom: 16px;
    border-radius: 10px;
        object-fit: cover;
        /* width: 335px; */
        height: 251px;
}

.products__item__title {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000;
}

.products__item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000;
}

.products__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    margin-bottom: 16px;
}

.products__item__btn {

}

@media screen and (min-width: 768px) {
    .products__img {
        margin-bottom: 16px;
        /* width: 336px; */
        height: 252px;
    }
}

@media screen and (min-width: 1440px) {
    .products__img {
        margin-bottom: 16px;
        /* width: 304px; */
        height: 228px;
        
    }
    
}