.header {
    background-color: #FBC74C;
}

.header__link {

}

.header__logo {

}

.header__nav {

}

.header__list {

}

.header__item {

}

.header__thumb {

}

.header__btn {

}

.enter__btn {

}

.register__btn {

}

.shopping-cart {

}

.header__img {
    
}