
  .burger__label {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
  }

  .header__nav {
    display: none;
  }


  .header__thumb {
    display: none;
  }

  .header__btn {
    display: flex;
        background-color: #000;
        border-radius: 50%;
        padding: 6px;
        width: 36px;
        height: 36px;
    z-index: 10;
  }
  .header__img {
    z-index: 10;
  }
  .burger__label {
    display: block;
    margin-right: 16px;
    background-color:  rgba(0, 0, 0, 0.113);
    border-radius: 50%;
  }

  .burger__label:hover {
    cursor: pointer;
  }

  .burger__label span {
    top: 15px;
  }

  .burger__label span,
  .burger__label span::before,
  .burger__label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: 0.3s;
    z-index: 6;
  }

  .burger__label span::before {
    top: -8px;
  }

  .burger__label span::after {
    top: 8px;
  }
  .burger__input {
    visibility: hidden;
  }

  .burger__input[type="checkbox"]:checked ~ .burger__label span {
    transform: rotate(-45deg);
  }
  .burger__input[type="checkbox"]:checked ~ .burger__label span::before {
    top: 0;
    transform: rotate(0);
  }
  .burger__input[type="checkbox"]:checked ~ .burger__label span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .burger__input[type="checkbox"]:checked ~ .mobile__menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    pointer-events: auto;
  }

    .header {
        background-color: #FCD781;
        padding: 18px 0px;
    }

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .mobile__menu {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #FCD781;
        padding: 48px 40px;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(100%);
        }
    

    

    

    .header__btn {
        
    }

    .mobile__thumb {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .mobile__list {
        flex-direction: column;
        display: flex;
        gap: 32px;
        position: absolute;
        top: 30%;
        left: 40%;
    }

    .mobile__link {
        position: relative;
        padding-bottom: 24px;
    }

    .mobile__link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #000;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-out;
    }

    .mobile__link:hover::after,
    .mobile__link:focus::after {
        transform: scaleX(1);
    }

    .footer__cart {
      z-index: 10;
    }


@media screen and (min-width: 768px) {
    .burger__input {
        display: none;
      }
      
      .burger__label {
        display: none;
      }

      .header__nav {
        display: flex;

    }

    .footer__cart {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .header__list {
        display: flex;
        gap: 32px;
    }

    .header__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000;
    }

    .header__thumb {
        display: flex;
        gap: 16px;
    }

    .header__link {
        position: relative;
        padding-bottom: 24px;
    }

    .header__link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #000;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-out;
    }

    .header__link:hover::after,
    .header__link:focus::after {
        transform: scaleX(1);
    }
}
