.header {
    background-color: #FCD781;
    padding: 18px 0px;
}

.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 374px;
}

.logo {
    color:red;
}

.header__logo {

}

.header__nav {
    

}

.header__list {
    display: flex;
    gap: 32px;
}

.header__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.header__link {
    position: relative;
    padding-bottom: 24px;
}

.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
}

.header__link:hover::after,
.header__link:focus::after {
    transform: scaleX(1);
}

.header__thumb {
    display: flex;
    gap: 16px;
}

.header__btn {
    background-color: #000;
    border-radius: 50%;
    padding: 6px;
    width: 36px;
    height: 36px;
}

.header__img {
    
}