.comments {
    text-align: left;
}

.comments__title {
    padding-top: 48px;

    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 40px;
}

.comments__list {
    display: flex;
    gap: 32px;
}

.isHidden {
    display: none;
}

.isHidden__Desktop {
    display: none;
}


.pagination__thumb {
    position: relative;
    padding-bottom: 74px; 
}

.pagination {

}

.comments__left {
    position: absolute;
    top: 0;
    right: 0;

}

.comments__right {
    position: absolute;
    top: 0;
    right: 57px;
}

@media screen and (min-width:768px) {
    .isHidden {
        display: flex;
    }
    
}

@media screen and (min-width:1440px) {
    
    .isHidden__Desktop {
        display: flex;
    }
    
    .comments__title {
        font-size: 48px;
    }
    
    
    .pagination__thumb {
        padding-bottom: 112px;
    }
    
}
