.product {
    text-align: left;
}


.product__thumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 32px;
    padding-top: 64px;
}

.product__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.product__arrow {
    width: 5px;
    height: 8px;
}

.currentProduct {
    font-weight: 600;
}

.product__container {
    padding-bottom: 48px;
}

.product__img {
    border-radius: 16px;
    width: 335px;
    height: 357px;
    margin-bottom: 32px;
}

.product__thumbInfo {
    margin-bottom: 32px;
}

.product__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 32px;
}

.product__priceThumb {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

}

.products__price {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #000;
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}


.products__priceInfo {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin: 0px 8px;
}

.product__thumbDesktop {
    display: none;
}

.products__priceInfo__comments {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.products__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000;
    
}

.product__btn__thumb {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.product__btn__cart {
    width: 255px;
}
.product__btn_buy {
    margin-bottom: 16px;
}

.filter {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: transparent;
    border-radius: 16px;
    padding: 8px;
    width: 64px;
    height: 37px;
}
.filter::placeholder {
    color:#000;
}
.filter:hover, 
.filter:focus {
    outline: none;
}

.product__btn_buy {
    width: 100%;
}

.product__moreInfo {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    color: #000;
}




@media screen and (min-width: 768px) {
    .product {
        text-align: left;
    }
    
    
    .product__thumb {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 32px;
        padding-top: 64px;
    }
    
    .product__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #000;
    }
    
    .product__arrow {
        width: 5px;
        height: 8px;
    }
    
    .currentProduct {
        font-weight: 600;
    }
    
    .product__container {
        padding-bottom: 48px;
    }
    
    .product__img {
        border-radius: 16px;
        width: 704px;
        height: 750px;
        margin-bottom: 48px;
    }
    
    .product__thumbInfo {
        margin-bottom: 32px;
    }
    
    .product__title {
        margin-bottom: 24px;
    }
    
    .product__priceThumb {
        margin-bottom: 24px;
    }
    
    .product__btn__cart {
        width: 624px;
    }
}

@media screen and (min-width: 1440px) {
    .product {
        padding-top: 64px;
    }

    .product__thumb {
        display: none;
    }
    
    .product__text {
        font-size: 14px;
    }
    
    .product__container {
        display: flex;
        gap: 32px;
    }
    
    .product__img {
        width: 640px;
        height: 682px;
    }
    
    .product__thumbInfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }
    
    .product__title {
        font-size: 40px;
    }
    
    .product__priceThumb {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    
    }
    
    .products__priceInfo {
        font-size: 14px;
    }
    
    .product__thumbDesktop {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 24px;
    }
    
    .products__priceInfo__comments {
        font-size: 14px;
    }
    
    .products__info {
        font-size: 16px;
    }
    
    .product__btn__thumb {
        display: flex;
        gap: 16px;
        margin-bottom: 20px;
    }
    
    .product__btn__cart {
        width: 255px;
        padding: 6px 12px;
        width: 560px;
        height: 36px;
    }
    .product__btn_buy {
        margin-bottom: 16px;
        height: 36px;
        padding: 6px 12px;
        width: 100%;
    }
    
    .product__moreInfo {
        font-size: 12px;
    }
}