.hero {

}

.hero__thumb {

    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero__first {
    display: flex;
    flex-direction: column;
    gap: 32px; 
}

.hero__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-top: 40px;
}

.hero__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.hero__btn__thumb {
    display: flex;
    gap: 16px;
}

.hero__img {
    border-radius: 16px;
    width: 315px;
    height: 240px;
}

@media screen and (min-width: 768px) {
    .hero {
    }
    
    .hero__thumb {
        
    }
    
    .hero__first {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 465px;
        text-align: left;
    }
    
    .hero__title {
        font-size: 56px;
    }
    
    .hero__text {
    
    }
    
    .hero__btn__thumb {
        display: flex;
        gap: 15px;
    }
    
    .hero__img {
        width: 612px;
        height: 467px;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
    }
    
    .hero__thumb {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    
    .hero__first {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 465px;
        text-align: left;
    }
    
    .hero__title {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #000;
    }
    
    .hero__text {
    
    }
    
    .hero__btn__thumb {
        display: flex;
        gap: 15px;
    }
    
    .hero__img {
        width: 806px;
        height: 612px;
    }
}
