.hero {
}

.hero__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__first {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 465px;
    text-align: left;
}

.hero__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
}

.hero__text {

}

.hero__btn__thumb {
    display: flex;
    gap: 15px;
}

.hero__img {

}
